@{
    ViewData["Title"] = "Pipeline Views";
}
@model EncDashboard.Models.Others.LoanViewModel;

<form id="viewsForm" method="post" asp-controller="Loan" asp-action="filterQuery">
    @section dropdown {
        <div class="btn-group">
            <select id="views" name="selectedOption" style="background-color:white; border:0px;" onchange="handleSelectChange(this)">
                <option disabled selected value="">Select View</option>
                @foreach (var persona in Model.Personas)
                {
                    foreach(var pipelineView in persona.pipelineViews)
                    {
                        <option value="@pipelineView.name">@pipelineView.name</option>
                    }
                    
                }
            </select>
        </div>
    }
    
</form>

<div id="partialViewContainer">
</div>

<div id="loader" class="loader"></div>


