@{
    ViewData["Title"] = "Pipeline Views";
}
@model EncDashboard.Models.Others.LoanViewModel;

@section views {
    <ul class="navbar-nav flex-grow-2">
        @{
        var viewsList = new List<string>();
    }
        @foreach (var persona in Model.Personas)
        {
            @foreach (var pipelineView in persona.pipelineViews)
            {
                if (!viewsList.Contains(pipelineView.name))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" onclick="handleSelectChange('@pipelineView.name')">@pipelineView.name</a>
                    </li>
                    viewsList.Add(pipelineView.name);
                }
               
            }

        }
    </ul>
    }

<div id="partialViewContainer">
</div>

<div id="loader" class="loader"></div>


